.summary-image {
    height: 5rem;
    width: 5rem;
    background-position: center;
    background-size: cover;
}

.rounded {
    border-radius: 0.1rem;
}

.mw-100 {
    max-width: 100%;
}

.flex-column-course {
    flex-direction: column;
    padding: 10px;
}

