{{!/**
 * Template for the MyCourse block in Moodle.
 * This template displays a tabbed interface with courses grouped by year.
 *
 * @template
 * @category Blocks
 * @subcategory MyCourse
 * @version 1.0.0
    Example:
    {
        "year": "2022",
        "courses": [
            {"name": "Course 1", "link": "https://example.com/course1"},
            {"name": "Course 2", "link": "https://example.com/course2"}
        ]
    }
}}
<div class="tab-container">
    {{! Build Year Tabs}}
    <ul class="nav nav-tabs" role="tablist">
        {{#mycoursecontents}}
        <li class="nav-item">
            <a class="nav-link {{#active}}active{{/active}}" id="tab-{{year}}" data-toggle="tab" href="#content-{{year}}" role="tab" aria-controls="content-{{year}}" aria-selected="{{#active}}true{{/active}}">{{year}}</a>
        </li>
        {{/mycoursecontents}}
    </ul>

    {{! Courses by year}}
    <div class="tab-content">
        {{#mycoursecontents}}
        <div class="tab-pane fade {{#active}}show active{{/active}}" id="content-{{year}}" role="tabpanel" aria-labelledby="tab-{{year}}">
            <ul class="list-group list-group-flush">
                {{#courses}}
                    <li class="list-group-item">
                        <a href="/course/view.php?id={{id}}">{{fullname}}</a>
                    </li>
                {{/courses}}
                {{^courses}} {{!If there are no courses.}}
                <li class="list-group-item">
                    <div class="alert alert-warning" role="alert">{{nocourse}}</div>
                </li>
                {{/courses}}
            </ul>
        </div>
        {{/mycoursecontents}}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
